body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(87, 94, 107);
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../font/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("../font/Roboto-Bold.ttf") format("truetype");
}

#app {
  width: 100%;
}

#landing {
  width: 100%;
}

.pokracovat {
  position: absolute;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  height: 10%;
  max-height: 50px;
}

.pokracovat-cerveny {
  position: absolute;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
}

.pokracovat a {
  background-image: url("../img/button_pokracovat_modry.png");
  display: inline-block;
  width: 100%;
  background-size: cover;
  height: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.button-menu {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
  height: 8%;
  max-height: 50px;
}

.percents-absolute {
  font-family: "Roboto-Bold", Verdana, Tahoma;
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  font-size: 120px;
  color: white;
}

.graph-absolute {
  width: 33%;
  min-width: 450px;
}

.gratulujeme-resp {
  display: none;
  position: fixed; /* or absolute */
  top: 22%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 60%;
}

@media screen and (max-width: 1024px) {

  .button-dalsi {
    bottom: 15%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

  .gratulujeme {
    display: none;
  }
  
  .gratulujeme-resp, .button-dalsi {
    display: block;
  }
  
  .percents-absolute {
    font-size: 80px;
  }

  .graph-absolute {
    width: 33%;
    min-width: 350px;
  }
}

.video-name-absolute {
  position: absolute;
  top: 50px;
  left: 50px;
  cursor: pointer;
  height: 8%;
  max-height: 50px;
}

.vysledok {
  height: 50px;
}

.xko {
  position: absolute;
  top: 0%;
  right: 0%;
  cursor: pointer;
  height: 5%;
  max-height: 25px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.land-image {
  top: 55%;
}