body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url(../img/pozadie-01.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#app {
  width: 100%;
}

#landing {
  width: 100%;
  height: 100%;
}

.pokracovat {
  position: absolute;
  bottom: 8%;
  right: 4%;
  cursor: pointer;
  height: 10%;
}

.pokracovat a {
  background-image: url("../img/button_pokracovat_modry.png");
  display: inline-block;
  width: 100%;
  background-size: cover;
  height: 100%;
  background-position: 0 0;
}

.button-menu {
  position: absolute;
  top: 8%;
  right: 4%;
  cursor: pointer;
  height: 10%;
}

.video-name-absolute {
  position: absolute;
  top: 8%;
  left: 4%;
  cursor: pointer;
  height: 10%;
}