.cislo {
  width: 80%;
}

.quest h4 {
  font-size: 4vh;
  color: white;
}

.quest label {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 2.7vh;
}

.quest input {
  margin-right: 15px;
  vertical-align: middle;
}

.quest label:hover {
  color: rgb(220,223,228);
  cursor: pointer;
}

.quest label.selected {
  color: rgb(231,207,80);
}

.quest label.selected:hover {
  color: rgb(196,172,35);
  cursor: pointer;
}

.quest label.disabled , .quest h4.disabled {
  color: rgb(220,223,228);
}

.quest label.disabled.selected {
  color: lightgreen;
}

.quest-outer {
  margin: 4%;
}

.quest-wrong {
  color: rgb(232, 82, 82) !important;
}

.quest-right {
  color: rgb(154, 201, 71) !important;
}